@import url(reset.css);

[class*="__container"]{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.header__title{
	text-align: center;
	font-weight: 700;
	font-size: 35px;
	padding: 20px 0;
}


.main__obgekt{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: purple;
	animation: run 5s linear 1s infinite;
	position: absolute;
}

@keyframes run{
	0%{
		top: 0;
		left: 0;
	}
	10%{
		top: 80%;
		left: 100px;
	}
	20%{
		top: 0%;
		left: 200px;
	}
	30%{
		top: 80%;
		left: 300px;
	}
	40%{
		top: 0%;
		left: 400px;
	}
	50%{
		top: 80%;
		left: 500px;
	}
	60%{
		top: 0%;
		left: 600px;
	}
	70%{
		top: 80%;
		left: 700px;
	}
	80%{
		top: 0%;
		left: 800px;
	}
	70%{
		top: 80%;
		left: 900px;
	}
	100%{
		top: 0%;
		left: 1000px;
	}
}